.menuu{
  color: black;
  background-color: rgb(235, 237, 228);
}

.bar{
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100vh;
}

.devAkash{
  text-align: center;
}

.footFlex{
  border-top: 2px solid rgb(149, 151, 143);
  padding-top: 1em;
  align-items: center;
  text-align: center;
  display: flex;
  gap: 2rem;
}

.footFlex form{
  text-align: center;
  padding: 3em;
  min-width: 200px;
  background-color: white;
  max-height: 300px;
}

.footFlex form div{
  display: flex;
  align-items: center;
}


footer div> iframe{
  width: 50%;
  height: 300px;
}


.oneandhalf{
  line-height: 1.5em!important;
}

.imgs{
  max-width: 500px; 
  max-height: 550px;
}

.parts{
  margin: 7% 3%;
  display: flex;
}

.home-text{
  margin-left: 5%;
  margin-right: 5%;
}


@media screen and (max-width: 900px) {
.parts{
  margin: 7% 3%;
  display: block;
  text-align: center;
}
.imgs{
  margin-top:2%;
  margin-bottom: 2%;
  max-width: 300px;
}

.footFlex{
  display: block;
}

}
