body{
  margin:7rem;
  margin-top: 10rem;
  background-color: rgb(235, 237, 228);
}

@media screen and (max-width: 1280px) {
  body{
    margin: 4rem;
    margin-top: 8rem;
  }
}

@media screen and (max-width: 950px) {
  body{
    margin: 2rem;
    margin-top: 8rem;
  }
}
